.btn-right{
  margin-left: 60%;
}
.user-icon{
  /* display: flex; */
  /* align-items: center; */
  margin-right: 20%;
}
.image-item{
  width: 60%;
  height: 80%;
  object-fit: cover;
  margin: 10px;
}
.image-container img{
  width: fit-content;
  height: fit-content;
}
.container{
  /* display: flex; */
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
  max-width: fit-content;
}
.filler{
  flex:1;
}
.person-icon{
  margin-left: 10px;
}
.toolbar{
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.centre-text{
  font-size: large;
  font-family: cursive;
  display: flex;
  margin-inline: 40%;
}
.liked{
  color: red;
}

.show-more{
  cursor: pointer;;
  font-weight: bolder;
  color: black;
}
.enlarged-image{
  position: fixed;
  top:0;
  left: 0;
  /* top:5%;
  left: 5%;
  right: 5%;
  bottom: 5%; */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.enlarged-image img{
  max-width: 90%;
  max-height: 90%;
}
mat-toolbar {
  display:flex;
  position: fixed;
  justify-content: space-between;
}
.stickyBar {
  position: sticky;
  top: 0;
}
