<p>register works!</p>
<div class="text-center login">
  <form (ngSubmit)="onSubmit()">
    <label> User Name: <input type="text" [(ngModel)]="username" name="username" required>
    </label>
    <br>
    <br>
    <label> Email: <input type="email" [(ngModel)]="email" name="email" required>
    </label>
    <br>
    <br>
    <label> Password: <input type="password" [(ngModel)]="password" name="password" required>
    </label>
    <br>
    <br>
    <button type="submit">Submit</button>
  </form>
  </div>
<br>
<br>
  <div class="text-center login">
    Already have an account ? <a routerLink="/login"> Login</a> here.
  </div>
<br>
<br>
<div *ngIf="errorMessage">{{errorMessage}}

</div>


