<!-- <p>create-post works!</p>
<div>

  <form (ngSubmit)="onSubmit()"  class="file-upload-form" >
    <mat-form-field>
      <mat-label>Add Image</mat-label>
      <input type="file" (change)="onFileSelected($event)" >
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="caption" formControlName="content">
    </mat-form-field>

    <br>
    <button mat-raised-button color="primary" type="submut">Post</button>
  </form>
</div>  -->

    <!-- <label> Caption: <input type="text" [(ngModel)]="content" name="content" required>
    </label>
    <br>
    <br>
      <label>Add image</label>
      <input type="file" (change)="onFileSelected($event)" name="image" required> -->


  <mat-card class="form-upload">
    <form (ngSubmit)="onSubmit()" [formGroup]="postForm" >

      <mat-form-field>
        <mat-label>Caption</mat-label>
        <input matInput type="text" placeholder="caption" formControlName="content">
        <mat-error *ngIf="postForm.get('content')?.hasError('required')">Caption Required</mat-error>

      </mat-form-field>
      <div>
        <!-- <button mat-stroked-button type="button" (click)="filePicker.click()"> -->

          <input type="file" #filePicker (change)="onFileSelected($event)" name="image" required>
          <!-- </button> -->
      </div>
      <div class="image-preview">
        <img [src]="filePreviewUrls" alt="">
        <!-- <button class="remove-button">Remove</button> -->
      </div>
      <!-- <div class="image-preview" *ngFor="let file of file ; let i=index">
        <img [src]="filePreviewUrls[file.name]" alt="">
        <button class="remove-button" (click)="removeImage(i)">Remove</button>
      </div> -->
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Post</button>
      </mat-card-actions>

    </form>
  </mat-card>
