.chat-container{
  display: flex;
}
.active-users{
  width: 200px;
  background-color: #f3f3f3;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.user-list{
  display: flex;
  flex-direction: column;
}
/* .button{
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 5px;
  font-size: 10px;
  text-align: left;
  transition: background-color 0.2s;

}
button:hover{
  background-color: #e1e1e1;
} */
.user-box.selected{
  background-color: #4c697a;
}
.chat-window{
  flex: 2;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  margin-right: 20px;
  box-shadow: 0 0 5px rgba(0, 0,0, 0.2);
}
.messages{
  /* margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px; */
  max-height: 400px;
  overflow-y: auto;
}
.message{
  margin: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.message-received{
  background-color: #f5f5f5;
  color: #333;
  border-radius: 5px 5px 5px 0;
  margin-right: auto;

}
.message-sent{
  background-color: #3ae280;
  color: black;
  border-radius: 5px 5px 0 5px;
  margin-left: auto;
  /* align-self: flex-end; */
}
/* .recived{
  background-color: #f5f5f5;
  color:#333;
  align-self: flex-end; }
*/

.message-sender{
  font-weight: bold;
  margin-right: 5px;
}

.input-area{
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.user-box{
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s;
}
.userbox:hover
{
  background-color: #f5f5f5;
}
.select-recipient-msg{
  background-color: #f5f5f5;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 18px;
  color: #888;
}
.notification{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 8px;
  margin: 5px 0;
  padding: 8px;
  font-weight: bold;
}
